body{
	text-align: justify;
	margin-top: 0px;
	margin-left: 0px;
	/*background=url(rain.gif);*/
	background-repeat: no-repeat;
	background-size: 1400px 700px;
}
.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (42).jpg")no-repeat center center;
    background-size: cover;
}
@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}
.navbar {
    z-index: 1;
}
.navbar {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

html,
body,
header,
.view {
  height: 100%;
}

p{
	font-weight: bold;
	font-family: sans-serif;
}
h1{
	font-weight: bold;
}
#button{
    display: block;
    width: 800px;
    height: 250px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 290px;
    margin-left: 175px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 55px;
    font-size: 100px;
    text-decoration: none;
    margin-bottom: 350px;
}
