@import "normalize";
@import "grid";
@import "themes/default/master";

#container {
	margin: 10px;

	button.create{
		margin-bottom: 8px;
	}

	.board{
		background-color: #b9def0;
		height: 100%;
		padding: 4px;

		.commentContainer {
			background: #eee;
			border: 1px solid #ccc;
			display: inline-block;
			margin: 8px;
			padding: 8px;

			.comment {
				font-size: 1.1em;
				font-weight: 500;
				margin-bottom: 10px;
			}

			button {
				margin-right: 6px;
			}

			textarea {
				display: block;
				margin-bottom: 10px;
			}
		}

	}

}
